class = "header"

.{class} {
  &.main-header {
    .logo {
      background-color: #2c7c6e;

      &-mini {
        text-align: center;
      }
    }
  }
  .logo-name {
    font-family: Asap;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    line-height: 50px;
    color: #ffffff;
  }
}
